.git/
.github/
.idea/
.vscode/
.venv/
venv/
docs/
scripts/
tn_template_lib/
**/__pycache__/
**/*.py[cod]
core/logs/executions/
core/trial_networks/
.dockerignore
.env.template
.gitignore
docker-compose.yaml
poetry.lock