{% extends 'base.html' %}

{% block content %}
    <h1>FrontEnd</h1>

    <div>
        <h2>Trial Network: {{ tnId }}</h2>
        <div>
            <h3>Status: <span id="statusSpan"></span> (<span id="transitionSpan"></span>)</h3>
            <h3>Entities:</h3>
            <div id="entitiesDiv"></div>

        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='jquery-3.7.1.min.js') }}"></script>

    <script>
        function update() {
            $.get('http://localhost:5000/trial_network/{{ tnId }}')
                .done(function (response) {

                $("#statusSpan").text(response['status']);
                $("#transitionSpan").text(response['transition']);

                let entitiesDiv = $("#entitiesDiv");

                for (const entity of response['entities']) {
                    let name = entity['name']
                    let maybeEntityDiv = $("#" + name + "_div");
                    console.log(entity);

                    if (maybeEntityDiv.length === 0){
                        entitiesDiv.append(
                            "<div id='" + name +"_div'>" +
                                "<section><b>" + name + ":</b> <span id='" + name + "_status'></span>" +

                                "</section>" +
                            "</div>"
                        )
                    }

                    $("#" + name + "_status").text(entity['status']);

                }

                setTimeout(function() { update(); }, 500);
            });
        }

        update();
    </script>

{% endblock %}